/* .img.search-plant-img { */
/* max-height: 100%; */
/* max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/* .img-container {
  margin-top: 5%; */
/* height: 40%;
  width: 50%; */
/* overflow: hidden;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
} */

.card-img-top.rounded.search-plant-img {
  height: 10rem;
  width: 13rem;
  margin-top: 5%;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px !important;
}

.card.plant-card {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #0a3e0c14;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.card.plant-card:hover {
  cursor: pointer;
  margin-bottom: 5%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #0a3e0c14;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
  transform: scale(1.05);
}
