.card.plantAcc-card {
  margin-top: 40px;
  margin-bottom: 5%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #01b37917;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  width: 90%;
}

.card.plantAcc-card:hover {
  cursor: pointer;
  margin-bottom: 5%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #0a3e0c14;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
  transform: scale(1.05);
}

.btn.plant {
  border-radius: 10px;
  background-color: rgb(96 105 14 / 28%);
  color: lightgoldenrodyellow;
  border: 2px solid lightgoldenrodyellow;
  height: 50px;
  width: 80%;
  margin-bottom: 10px;
}

.card-img {
  padding: 10px;
}

.plant-row {
  padding: 40px;
}

.plant-img-card {
  padding: 10px;
}

.btn.delete-plant {
  border-radius: 10px;
  background-color: rgb(206, 54, 27);
  color: lightgoldenrodyellow;
  border: 2px solid lightgoldenrodyellow;
  height: 50px;
  width: 80%;
  margin-bottom: 10px;
}

.card-img-top.rounded.add-plant-img {
  border: 2px solid lightgoldenrodyellow;
  border-radius: 15px !important;
  margin-left: 0px;
}
