.logIn {
  width: 25% !important;
  margin-bottom: 5px;
}

.card.logIn {
  cursor: pointer;
  margin-bottom: 5%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #0a3e0c14;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
