.card.account-cards {
  cursor: pointer;
  margin-bottom: 5%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #0a3e0c14;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.card.account-cards:hover {
  cursor: pointer;
  margin-bottom: 5%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  background-color: #0a3e0c14;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
  transform: scale(1.05);
}
.account-title {
  display: flex;
  justify-content: space-between;
}

.account-info {
  text-transform: capitalize;
}

.btn.delete {
  margin-left: 1%;
  border-radius: 10px;
  background-color: rgb(224, 59, 30);
  color: lightgoldenrodyellow;
  border: 2px solid lightgoldenrodyellow;
  height: 45px;
}

.btn.delete:hover {
  margin-left: 1%;
  border-radius: 10px;
  background-color: rgb(206, 54, 27);
  color: lightgoldenrodyellow;
  border: 2px solid lightgoldenrodyellow;
  height: 45px;
}
