.account-cards {
  cursor: pointer;
  margin-bottom: 5%;
  box-shadow: 0 5px 6px black;
}

.account-title {
  display: flex;
  justify-content: space-between;
}

.account-info {
  text-transform: capitalize;
}
