.show-btn-div {
  display: flex;
  justify-content: flex-end;
}

.btn.show-btn {
  color: lightgoldenrodyellow;
  background-color: #61c177;
  border: 3px solid #468d56;
  padding: 1rem;
  margin-right: 2%;
  margin-bottom: 5%;
  border-radius: 15px;
}

.btn.submit {
  color: lightgoldenrodyellow;
  background-color: #61c177;
  border: 3px solid #468d56;
  border-radius: 15px;
}

.btn.show-btn:hover,
.btn.submit:hover {
  color: lightgoldenrodyellow;
  background-color: #468d56;
  border: 3px solid #61c177;
}

.btn.btn-outline.close-btn {
  border-radius: 15px;
  background-color: rgba(150, 39, 20, 0);
  color: rgb(224, 59, 30);
  border: 2px solid rgb(224, 59, 30);
  margin-bottom: 3%;
  margin-right: 2%;
}

.btn.btn-outline.close-btn:hover {
  border-radius: 15px;
  background-color: rgb(224, 59, 30);
  color: lightgoldenrodyellow;
  border: 2px solid lightgoldenrodyellow;
  margin-bottom: 3%;
  margin-right: 2%;
}

.account-form {
  padding: 5%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 5%;
  background-color: #0a3e0c14;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 15px;
}

.close-btn-div {
  display: flex;
  justify-content: flex-end;
}

.btn.btn-outline-danger.close-btn {
  border-radius: 50px;
}
